<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->

<head>
	<!-- simplified character encoding -->
	<meta charset="utf-8">

	<title>Rubyton :: <%= html_title %></title>
	<meta name="description" content="Rubyton: Encuentro de ruby developers">
	<meta name="author" content="Adrian Cuadros">
	<!-- favicon 16x16 -->
	<link rel="shortcut icon" href="/rubyton.ico">
	<link rel="stylesheet" href="stylesheets/rubyton.css?v=1.0">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21406766-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id='header'>
		<a href='/'>
			<img src='images/rubyton.png'>
		</a>
		<ul id='menu'>
			<%= menu %>
			<div class='clear'></div>
		</ul>
	</div>
	<div id="content">
		<div class='wrapper'>
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<div class='wrapper'>
			&copy; Rubyton 2011
		</div>
	</div>
</body>
</html>